:host{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 12px;
  background: var(--dark-color);
}
.main-menu-list{
  display: grid;
  grid-gap: 8px;
  list-style: none;
}
.menu-item{
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  text-align: left;
  border-radius: 2px;

  &:hover,
  &:focus-visible{
    background-color: transparent;
    background: var(--dark-hover-color);
    color: var(--primary-color);
  }

  svg{
    width: 16px;
    height: 16px;
  }
}
.to-subscribers{
  display: flex;
  align-items: center;
  gap: 10px;
}
.to-subscribers-link{
  color: var(--primary-color);
  text-decoration: none;
}

.to-subscribers-icon{
  width: 18px;
  height: 18px;
}

.sidebar__footer{
  margin-top: auto;
  background-color: var(--dark-hover-color);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  align-items: center;
  img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .username-text{
    font-weight: 700;
    color: var(--primary-color);
  }
}
.settings-btn{
  display: inline-block;
  width: 13px;
  height: 13px;
  svg{
    width: 18px;
    height: 18px;
    color: var(--primary-color);
  }
}
