<img
  src="/assets/svg/logo-small.svg"
  alt=""
  class="ml16 mb20"
>
<nav class="mb20">
  <ul class="main-menu-list">
    @for (item of menuItems; track item){
      <li>
        <button class="menu-item">
          <svg [icon]="item.icon"></svg>
          <span>{{item.label}}</span>
        </button>
      </li>
    }
  </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>


@for (profile of subscribers$ | async; track profile.id){
  <app-subscriber-card
    [profile]="profile"
  ></app-subscriber-card>
}

<div class="mb20 to-subscribers">
  <a [routerLink]="['/subscribes']"
    class="to-subscribers-link mediim-text"
  >Все подписчики</a>
  <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>
