:host{
  display: grid;
  grid-template-columns:322px 1fr;
  grid-gap: 48px;
}
.profile-form{
  display: grid;
  grid-gap: 20px;

  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    height: calc(100dvh - (24px*4));
    border: 1px solid var(--light-color);
    background-color: var(--dark-color);
  }
}
.two-columns{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 20px;
}
.profile-label{

}
.profile-input{

}
